/* code here */
fieldset {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dotted gray;
    border-collapse: collapse;
    text-align: center;

}

input {
    width: 150px;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    text-align: middle;

}


input:hover {
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
    cursor: default;
}

input.pointColor {
    background: linear-gradient(45deg, rgba(78, 197, 217, 1), rgba(38, 59, 151, 1));
}